@media (max-width: 768px) {
    .barrenav{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: end;
    gap: 15px;
    position: fixed;
    right: 1vw;
    top: 1.5vh;
    height: 20px;
    z-index: 1000;
    }
    .imglien{
        display: block;
    position: fixed;
    top: 2vh;
    left: 3vw;
    height: 7vh;
    z-index: 500;
}

    #bord{
    border: 1.75px solid black;
    padding: 5px 1px 1px 1px;
    margin: 0 0 0 0;
    color: rgb(0, 0, 0);
    z-index: 1000;
    }
    h2{
        margin: 0;
        line-height: 1;
        font-size: clamp( 0.1rem, 3vw, 3rem);
    }
    h3{
        margin: 0;
        line-height: 1;
        font-size: clamp( 0.1rem, 3vw, 3rem);
    }
    #bord h2 {
        display: inline;
        margin: 0;
        line-height: 1;
        vertical-align: middle;
    }
    .langswitch{
        background-color: transparent;
        display: flex;
        flex-direction: column;
        gap: 0.20rem;
        font-family: 'rockwell';
        font-size: clamp( 0.1rem, 2vw, 2rem);
    }
    .langswitch a {
    margin: 0;
    font-weight: 400;
    padding: 0;
    line-height: 1;      /* hauteur de ligne égale à la taille de police */
    }
    .langswitch a.active {
    font-weight: bold;
    pointer-events: none;
    line-height: 0.5;
    padding-top: 2px;    
    }
      *:hover {
    /* on réinitialise tout ce qui pourrait avoir été défini */
    background: none !important;
    color: inherit !important;
    text-decoration: none !important;
    transform: none !important;
  }
  #bord::after,
.barrenav h2::after,
.barrenav h3::after {

  background-color: transparent;
  z-index: -1;
  transition: width 0.00s ease;
}
}