 /* ─── base ──────────────────────────────── */
a,
a:visited {
  color: var(--noir); /* ou la couleur que tu veux */
  text-decoration: none;
}

 @font-face {
    font-family: 'raleway-regular';
    src: url('./fonts/Raleway-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
 * {
    background-color: black;
  }
  body {
    position: relative;
    margin: 0;
  }
  
  .contenu {
    font-family: 'raleway-regular';
    font-size: 1.2em;
    position: fixed;
    width: 50vw;
    top: 10vh;
    left: 1vw;
    color: white;

  }
  .credit {
    font-family: 'raleway-regular';
    font-size: 0.7em;
    bottom: 10vh;
    position: fixed;
    color: white;
  }
  .credit p {
    margin: 0;
  }
    #pdfcomplet
    {
    text-decoration: none;
    color: white;
    text-shadow: -3px -4px 0 rgb(59, 166, 241) !important; 
    }
    #pdfcomplet:hover
    {
    text-decoration: none;
    text-shadow: none !important; 
    color: rgb(59, 166, 241);
    }
    .imagenous {
      position: fixed;
      top: 50%;
      right: 1vw;
      transform: translateY(-50%);
      width: 48vw;
      opacity: 0.7;
    }
    .imagenous img {
      width: 100%;
      height: auto;
      display: block;
    }
/* ─── barre de navigation ──────────────────────────────── */
 .Barrenav {
  position: fixed;
  top: 0;
  left: 0;
  width: 50vw;
  height: 60px;
  background-color: transparent;
  display: flex;
  align-items:flex-start;
  justify-content:flex-start;
  padding: 0 0;
}
.barrenavtexte {
  font-family: 'escabeau';
  font-size: 1vw;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.01em;
  color: #ffffff;
  margin-left: 20px;
  margin-top: 10px;

}
#bouffee-beton {
    font-size: 1.5vw !important;
    text-decoration: none ;
}

#bouffee-beton:hover {
  text-decoration: underline;
}
#articles:hover{
  text-decoration: underline;
}

